{% extends 'base.html' %}
{% load static %}
{% block title %}
Вход
{% endblock %}
{% block content %}
    <div class="container" style="width: 50%">
        <h1>Вход</h1>
        {% if has_error %}
            <p>Неправильный имя пользователя или пароль</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post" id="loginForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
            или
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </form>
    <script src="{% static 'js/accounts/login_api_script.js' %}"></script>
    </div>
{% endblock %}